@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap");
* {
  font-family: "Elsie Swash Caps", serif;
}

body {
  background: blue;
}

a {
  all: unset;
}

.hoverbtn:hover {
  background: #660000;
}

.hoverbtn {
  background: #800000;
  color: #e1ac30;
  border: none;
}

.cardView {
  max-width: 100%;
  height: auto;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
}

.cardsDiv {
  height: 70vh;
}

.image-stack {
  position: relative;
  /* width: 300px;
  height: 400px;*/
}

.cardD {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
}

.cardD:nth-child(1):hover {
  transform: scale(1.05);
  transform: translateY(-10px);
}

.cardD:nth-child(2):hover,
.cardD:nth-child(3):hover {
  transform: translateY(-10px);
}

.cardD:nth-child(1) {
  z-index: 3;
}

.cardD:nth-child(2) {
  z-index: 2;
  top: 20px;
  /* Adjust the top offset for the second card */
}

.cardD:nth-child(3) {
  z-index: 1;
  top: 40px;
  /* Adjust the top offset for the third card */
}

.formModal {
  border: none;
  position: fixed;
  left: 50%;
  top: 15%;
  width: 60%;
  height: 75%;
  margin-left: -30%;
  margin-right: -30%;
  z-index: 1000;
  border-radius: 5%;
  transition: transform 0.5s ease;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
}

@media (max-width: 780px) {
  .formModal {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
