@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap");

* {
  font-family: "Elsie Swash Caps", serif;
}

body {
  background: blue;
}

a {
  all: unset;
}

.hoverbtn:hover {
  background: #660000;
}

.hoverbtn {
  background: #800000;
  color: #e1ac30;
  border: none;
}

.cardView {
  max-width: 100%;
  height: auto;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
}

.cardsDiv {
  height: 90vh;
}

.image-stack {
  position: relative;
  /* width: 300px;
  height: 400px;*/
}

.cardD {
  position: absolute;
  top: -30px;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
}

.cardD:nth-child(1):hover {
  transform: scale(1.05);
  transform: translateX(5px) translateY(-10px);
}

.cardD:nth-child(2):hover,
.cardD:nth-child(3):hover {
  transform: translateX(5px) translateY(-10px);
}

.cardD:nth-child(1) {
  z-index: 3;
}

.cardD:nth-child(2) {
  z-index: 2;
  top: 0px;
  right: 10px;
  /* Adjust the top offset for the second card */
}

.cardD:nth-child(3) {
  z-index: 1;
  top: 40px;
  right: 20px;
  /* Adjust the top offset for the third card */
}

.formModal {
  border: none;
  position: fixed;
  left: 50%;
  top: 15%;
  width: 60%;
  height: 75%;
  margin-left: -30%;
  margin-right: -30%;
  z-index: 1000;
  border-radius: 5%;
  transition: transform 0.5s ease;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);

  /*background: #FFE8AE;*/
}

.closeRing {
  cursor: pointer;
  width: 7%;
}

.formHeader {
  margin-left: 40%;
}

.formHeader2 {
  margin-bottom: 5%;
}

.figIcon {
  margin-right: 5px;
  width: 3%;
}

.formDetail {
  width: 250px;
  text-align: left;
}

.formDetailTitle {
  padding: 2px;
}

.formDetailContainer {
  padding: 2px;
  margin-left: 2%;
  width: 150px;
}

.eventFormContainer {
  margin-left: 10px;
  margin-right: 10px;
}

.individualEntry {
  /*padding: 2px;*/
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*.individualEntry div{
  margin-left: 1%;
  margin-right: 1%;
}*/

.rsvpResBtn {
  padding: 1px 20px;
  border: none;
  transition: transform 0.5s ease;
}

.rsvpResBtnS {
  transition: transform 0.5s ease;
  background: #a0d580;
}

.rsvpResBtn:hover {
  transform: scale(1.05);
  background: #c6e5b2;
}

.rsvpResBtnS:hover {
  transform: scale(1.05);
  background: #e3e3e3;
}

.rsvpFormBtn {
  border: none;
  padding: 5px 20px;

  transition: transform 0.5s ease;
}

.rsvpFormBtn:hover {
  transform: scale(1.1);
}

.formUtilityBtns{
  margin-top: 10%;
}

@media (max-width: 780px) {
  .formModal {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .cardD:nth-child(1):hover {
    transform: scale(1.05);
    transform: translateY(-10px);
  }

  .cardD:nth-child(2):hover,
  .cardD:nth-child(3):hover {
    transform: translateY(-10px);
  }

  .cardD:nth-child(2) {
    z-index: 2;
    top: 0px;
    right: 0px;
    /* Adjust the top offset for the second card */
  }

  .cardD:nth-child(3) {
    z-index: 1;
    top: 40px;
    right: 0px;
    /* Adjust the top offset for the third card */
  }
  .individualEntry{
    display: flex;
    justify-content: space-between;
  }
  .individualEntry div{
    width: 200px;
  }
}
